<h1> Spiderum top user</h1>
<div>
  <md-input-container class="example-full-width">
    <input type="number" name="point"  [(ngModel)]="point" [ngModelOptions]="{standalone: true}" mdInput placeholder="Change point">
  </md-input-container>
  <br>

  <md-grid-list class="list" cols="1" rowHeight="60px" *ngIf="listTopUser && listTopUser.length > 0">
    <md-grid-tile class="list-item"
        *ngFor="let user of listTopUser"
        [colspan]="1"
        [rowspan]="1"
        [style.background]="lightpink">
        <img class="user-avatar" *ngIf="!user.avatar" src="https://www.gravatar.com/avatar/{{user.gravatar}}?d=wavatar&f=y" alt='profile picture' />
        <img class="user-avatar" *ngIf="user.avatar" src="https://s3-ap-southeast-1.amazonaws.com/img.spiderum.com/sp-xs-avatar/{{ user.avatar }}" alt='profile picture' />
      <p class="user-name">{{ user.name }}</p>
      
      <div class="point-action mat-figure">
        <a class="action-link" (click)="increasePoint(user._id)"> 
          <md-icon svgIcon="up" class="icon-action"></md-icon>
        </a>
        <p class="user-point">{{user.total_score}}</p>
        <a class="action-link" (click)="decreasePoint(user._id)">
          <md-icon svgIcon="down" class="icon-action"></md-icon>
        </a>
      </div>
      
    </md-grid-tile>
  </md-grid-list>

  <!--<ul class="user-list list-unstyled clearfix" *ngIf="listTopUser && listTopUser.length > 0">
    <li class="clearfix" *ngFor="let user of listTopUser">
      <div class="user">
        <a class="avatar" [routerLink]="['/nguoi-dung/' + user.name]">
          <img *ngIf="!user.avatar" src="https://www.gravatar.com/avatar/{{user.gravatar}}?d=wavatar&f=y" alt='profile picture' />
          <img *ngIf="user.avatar" src="https://s3-ap-southeast-1.amazonaws.com/img.spiderum.com/sp-xs-avatar/{{ user.avatar }}" alt='profile picture' />
        </a>
        <div class="info">
          <h3 class="username"><a [routerLink]="['/nguoi-dung/' + user.name]">{{ user.name }}</a></h3>
        </div>
        <p>
          total score: {{user.total_score}}
        <div class="action">
          <a class="btn btn-round btn-default btn-follow" (click)="increasePoint(user._id)"> 
            <i class="fa fa-plus" aria-hidden="true"></i> 
          </a>
          <a class="btn btn-round btn-primary btn-followed" (click)="decreasePoint(user._id)">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </li>
  </ul>-->
</div>
